version: '2'

services:
  bcoin:
    image: purse/bcoin
    container_name: bcoin
    restart: unless-stopped
    ports:
      #-- Mainnet
      - "8333:8333"
      - "8332:8332" # RPC
      #-- Testnet
      #- "18333:18333"
      #- "18332:18332" # RPC
    environment:
      BCOIN_CONFIG: /data/bcoin.conf
      VIRTUAL_HOST: bcoin.yourdomain.org
      VIRTUAL_PORT: 8332 # Mainnet
      #VIRTUAL_PORT: 18332 # Testnest
    networks:
      - "bcoin"
      - "nginx-proxy"
    volumes:
      - ~/.bcoin:/data
      - ${PWD}/secrets/bcoin.conf:/data/bcoin.conf

  nginx_proxy:
    image: jwilder/nginx-proxy
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks:
      - "nginx-proxy"
    volumes:
      - ./secrets/certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro

networks:
  bcoin:
    external:
      name: "bcoin"
  nginx-proxy:
    external:
      name: "nginx-proxy"
